<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero">
    <div class="logo">
        <img src="/images/logo.png" alt="ParkEase Logo">
    </div>

    <div class="overlay">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eveniet reprehenderit eum rerum beatae quas reiciendis odit omnis vero tenetur aperiam possimus quos culpa itaque, similique et eos perspiciatis sed.</p>
        <a href="user/home" class="btn">Get Started</a>
        <a href="/admin/login" class="btn">Admin Login</a>
    </div>
</section>

</body>
</html>