<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/loginOptions.css">
    
</head>
<body>
    <div class="login-container">
    <h2>Choose an Option</h2>
    <div class="btn-group">
        <a href="/user/login" class="btn">User Login</a>
        <a href="/admin/login" class="btn">Admin Login</a>
    </div>
    <a href="/" class="home-link">← Back to Home</a>
    </div>
</body>
</html>
