<link rel="stylesheet" href="/styles/userLogin.css">

<div class="login-box">
<h2>User Registration</h2>
<form action="/user/register" method="POST" class="form">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="email" name="email" placeholder="Email" required>
    <button type="submit">Register</button>
</form>
<p>Already registered? <a href="/user/login">Login</a></p>
</div>