.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #2c3e50;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.sidebar h4 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #34495e;
    border-radius: 4px;
}

h2 {
    text-align: center;
    color: #221f1f;
    margin-bottom: 30px;
}
.user-card {
  background-color: #ccc;
  padding: 15px;
  margin-bottom: 10px;
  width: 90%;
    max-width: 600px;
    margin: 12px auto;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.user-card:hover {
  background-color: #bbb;
}

.user-details {
  margin-top: 10px;
  background-color: #eee;
  padding: 10px;
  border-radius: 6px;
}
